.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  font-size: 16px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 250px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.not-found {
  color: red;
  font-weight: bold;
  display: none;
}